body
{
    background-color: rgb( 44, 62, 80) !important;
}
.portfolio
{
    background-color: white !important;
}
.page-section
{
    background-color: black;
}
header
{
    background-color: black;
}

.bg-green
{
    background-color: #1abc9c;
}

.black-icon
{
    color: black !important;
}

.white-divider
{
    background-color: white;
}

.black-divider
{
    background-color: black;
}

.text-secondary-white 
{
    color: white !important;
}

@media only screen and (max-width: 768px) 
{
    .card-columns
    {
        column-count: 1;
    }     
}

@media only screen and (min-width: 769px) 
{
    .card-columns
    {
        column-count: 3;
    }     
}
